<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录界面</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="circle" style="--i:0"></div>
            <div class="circle" style="--i:1"></div>
            <div class="circle" style="--i:2"></div>
            <div class="circle" style="--i:3"></div>
            <div class="circle" style="--i:4"></div>
            <div class="container">
                <div class="form">
                    <h2>登录</h2>
                    <form>
                        <div class="inputbox">
                            <input type="text" placeholder="账号">
                        </div>
                        <div class="inputbox">
                            <input type="password" placeholder="密码">
                        </div>
                        <div class="inputbox">
                            <input type="submit" value="登录">
                        </div>
                        <p class="forget">忘记密码？
                            <a href="#">点击这里</a>
                        </p>
                        <p class="forget">没有账号？
                            <a href="#">点击注册</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>