.user_group.founder {
	color: #885b00;
	background: linear-gradient(135deg,
			#ffaa00,
			#ffff00,
			#ffaa00,
			#ffff00,
			#ffaa00,
		);
	background-size: 200% 100%;
	animation: gradient-move 10s linear infinite;
}


.user_group.copemate {
	color: #ffffff;
	background: linear-gradient(135deg,
			#aa00ff,
			#ff00ff,
			#aa00ff,
			#ff00ff,
			#aa00ff,
		);
	background-size: 200% 100%;
	animation: gradient-move 10s linear infinite;
}

@keyframes gradient-move {
	0% {
		background-position: 0% 0;
	}

	50% {
		background-position: 100% 0;
	}

	100% {
		background-position: 0% 0;
	}
}


uni-page {
	background-color: #ffffff;
}
