@import "//at.alicdn.com/t/font_sv9j5mqlqz63l3di.css";ul,ol {
    list-style: none;
    padding: 0;
    margin: 0
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
}

.placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

input::-webkit-input-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

input:-moz-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

input:-moz-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

input:-ms-input-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

textarea::-webkit-input-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

textarea:-moz-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

textarea:-moz-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

textarea:-ms-input-placeholder {
    color: #7c89ac !important;
    font-family: PingFangSC;
    font-size: 1.4rem;
    font-weight: normal
}

.down-app {
    display: none;
    background-color: #fff
}

.down-app .content {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.down-app .content .close {
    width: 44px;
    display: flex;
    justify-content: center
}

.down-app .content .close .iconfont {
    margin: 0 auto
}

.down-app .content .middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

.down-app .content .middle .img {
    width: 30%;
    margin-right: 10px;
    display: block;
    max-width: 50px
}

.down-app .content .middle .img img {
    width: 100%;
    display: block
}

.down-app .content .middle .txt {
    flex: 1
}

.down-app .content .middle h3 {
    font-size: 15px;
    line-height: 1;
    color: #444
}

.down-app .content .middle .iconfont {
    color: #444;
    font-size: 12px
}

.down-app .content .btn {
    width: 90px;
    display: flex;
    justify-content: center
}

.down-app .content .btn span {
    display: block;
    margin: 0 auto;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    width: 90px;
    height: 26px;
    border-radius: 3px;
    background-color: #4874d9
}

.header {
    transition: all ease-in .16s;
    padding-top: 45px;
    border-color: transparent;
    background-color: transparent
}

.header .navbar-brand {
    margin: 0;
    padding: 0;
    height: inherit
}

.header .navbar-brand img {
    display: block;
    max-width: 100px
}

.header .gh-flex {
    display: flex;
    justify-content: flex-end;
}

.header .gh-flex .a {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #667089 !important
}

.header .down-news {
    color: #fff !important;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    line-height: 1
}

.header .navbar-toggle {
    margin: 0;
    padding: 0;
    border-color: transparent !important;
    background-color: transparent !important
}

.header .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-bottom: 6px
}

.header .navbar-toggle .icon-bar:last-child {
    margin-bottom: 0
}

.header .navbar-collapse {
    border: none
}

.gh-nav-bar {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #202636;
    box-shadow: 0 0 10px 0 #0a0f1c
}

.gh-nav-bar .navbar-brand img {
    max-width: 68px
}

.follow-us {
    display: none;
    width: 100%;
    z-index: 100
}

.follow-us>div {
    display: flex;
    justify-content: space-around;
    background-color: rgba(32,38,54,0.9);
    box-shadow: 0 10px 12px 0 #0b0f1a;
    flex-wrap: wrap;
    align-items: center
}

.follow-us>div>div {
    width: 100%;
    color: #fff;
    text-align: center
}

.follow-us>div>div img {
    display: block;
    width: 26%;
    margin: 0 auto
}

.follow-us>div>div p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 3%
}

.follow-us>div>div p small {
    font-size: 10px;
    color: #8a9ac1;
    display: block;
    margin-top: 6px
}

.follow-us>div>div a {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #fe5e46
}

.slider-bar {
    position: fixed;
    z-index: 100;
    top: 36%;
    right: 0;
    background-color: #fff;
    width: 50px
}

.slider-bar li {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative
}

.slider-bar li .triangle {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -20px;
    width: 30px;
    height: 20px;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 0 100%, 50% 50%);
    clip-path: polygon(0 0, 0 100%, 50% 50%)
}

.slider-bar li .icon {
    display: block;
    width: 100%
}

.slider-bar li:hover .code {
    display: block
}

.slider-bar li:hover .triangle {
    display: block
}

.slider-bar .code {
    display: none;
    width: 140px;
    height: 140px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -160px
}

.slider-bar .code img {
    display: block;
    width: 74%;
    margin: 6px auto
}

.slider-bar .code p {
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #202636;
    text-align: center
}

.btn-red {
    border-radius: 4px;
    background: linear-gradient(to bottom, #ff6f5a, #f75151);
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;
    color: #fff !important;
    text-decoration: none !important;
    cursor: pointer
}

.btn-red img {
    display: inline-block;
    width: 46px;
    margin-right: 0
}

.phone-down {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center
}

.user-appraisal {
    margin-top: 100px
}

.user-appraisal .main {
    max-width: 660px;
    margin: 0 auto
}

.user-appraisal .main .title {
    display: flex;
    margin-bottom: 67px;
    justify-content: space-between;
    align-items: center
}

.user-appraisal .main .title>h3 {
    font-size: 28px;
    line-height: 1;
    text-align: center;
    color: #c1d2ff;
    margin: -10px 0 0;
    padding: 0 40px
}

.user-appraisal .main .title>h3 .middle {
    display: block;
    font-size: 18px;
    line-height: .78;
    text-align: center;
    color: #c1d2ff;
    margin: 19px 0 20px
}

.user-appraisal .main .title>h3 .bottom {
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: #6f7ca0;
    display: block
}

.user-appraisal .main .title>span {
    height: 2px;
    flex: 1;
    width: 26%;
    background-color: #3a435c
}

.user-appraisal .main .user-txt li {
    display: flex
}

.user-appraisal .main .user-txt li .user-img {
    width: 60px
}

.user-appraisal .main .user-txt li .user-img img {
    display: block;
    width: 60%
}

.user-appraisal .main .user-txt li .content {
    flex: 1;
    margin-bottom: 30px
}

.user-appraisal .main .user-txt li .content .user-title-content {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.user-appraisal .main .user-txt li .content .user-title-content .user-info .user-name {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #c1d2ff;
    display: inline-block;
    margin-right: 10px
}

.user-appraisal .main .user-txt li .content .user-title-content .user-info .iconfont {
    font-size: 12px;
    color: #f04d56
}

.user-appraisal .main .user-txt li .content .user-title-content .time {
    font-size: 13px;
    line-height: 1;
    color: #8a9ac1;
    min-width: 68px
}

.user-appraisal .main .user-txt li .content .txt {
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background-color: #2c3347;
    padding: 8px 20px 11px;
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.85;
    color: #c1d2ff
}

.user-appraisal .main .show-more {
    display: flex;
    align-items: center
}

.user-appraisal .main .show-more span {
    flex: 1
}

.user-appraisal .main .show-more h3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #c1d2ff;
    padding: 0 30px;
    margin: 0
}

.user-appraisal .main .show-more h3 .triangle {
    margin-left: 8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #c1d2ff
}

.contact-us {
    padding: 70px 0 38px;
    position: relative;
    background-color: #2c3346
}

.contact-us .title-img {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -45px;
    display: block;
    max-width: 90px
}

.contact-us .us-info {
    font-size: 12px;
    line-height: 1;
    color: #8a9ac1;
    margin-top: 40px
}

.contact-us .us-info a {
    color: #8a9ac1 !important;
    text-decoration: none !important
}

.contact-us .content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden
}

.contact-us .content .row {
    width: 100%
}

.contact-us .content .code {
    display: flex;
    align-items: flex-start;
    padding-left: 0
}

.contact-us .content .code div {
    position: relative;
    margin-right: 70px;
    max-width: 85px
}

.contact-us .content .code div .img {
    max-width: 85px;
    display: block;
    margin-bottom: 15px
}

.contact-us .content .code div small {
    display: block;
    margin-top: 6px;
    font-size: 10px;
    color: #8a9ac1
}

.contact-us .content .code div:last-child {
    margin-right: 0
}

.contact-us .content .code p {
    text-align: center;
    font-size: 12px;
    color: #fff
}

.partners {
    margin-top: 140px;
    padding-bottom: 50px;
    background: url('./img/avatar.png') no-repeat left bottom;
    background-size: 5%
}

.partners .title {
    display: flex;
    margin-bottom: 130px;
    align-items: center
}

.partners .title h3 {
    color: #5c6889;
    font-size: 14px;
    font-weight: normal;
    padding: 0 30px;
    margin: 0
}

.partners .title span {
    flex: 1;
    height: 2px;
    background-color: #3a435c
}

.partners ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.partners ul li {
    max-width: 230px;
    margin-bottom: 40px
}

.partners ul li img {
    display: block;
    max-width: 230px
}

@media (max-width: 768px) {
    body {
        padding-top:140px
    }

    .contact-us {
        padding: 70px 0 38px;
        position: relative;
        background-color: #2c3346
    }

    .contact-us .title-img {
        position: absolute;
        top: -45px;
        left: 50%;
        margin-left: -45px;
        display: block;
        max-width: 90px
    }

    .contact-us .us-info {
        font-size: 12px;
        line-height: 1;
        color: #8a9ac1;
        margin-top: 40px
    }

    .contact-us .us-info a {
        color: #8a9ac1 !important;
        text-decoration: none !important
    }

    .contact-us .content {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;
        position: relative
    }

    .contact-us .content .row {
        width: 100%
    }

    .contact-us .content .code {
        display: flex;
        padding-left: 15px;
        justify-content: space-between
    }

    .contact-us .content .code div {
        position: relative;
        margin-right: 0
    }

    .contact-us .content .code div .img {
        max-width: 85px;
        display: block;
        margin-bottom: 15px
    }

    .contact-us .content .code div:last-child {
        margin-right: 0
    }

    .contact-us .content .code p {
        text-align: center;
        font-size: 12px;
        color: #fff
    }

    .slider-bar {
        display: none
    }

    .header {
        padding-top: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #202636
    }

    .header .container {
        padding-top: 10px;
        background-color: #202636
    }

    .header .navbar-brand img {
        transition: all ease-in .16s;
        display: block;
        max-width: 70px
    }

    .header .navbar-header {
        padding: 0 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #394155
    }

    .header .navbar-header .gh-header-flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .header .navbar-header .gh-header-flex>span {
        color: #fff;
        font-size: 13px
    }

    .header .navbar-collapse {
        box-shadow: 0 4px 8px rgba(0,0,0,0.2)
    }

    .header .navbar-collapse .gh-flex {
        display: flex;
        justify-content: left
    }

    .header .navbar-collapse .gh-flex a {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.8;
        color: #fff !important
    }

    .partners {
        margin-top: 60px
    }

    .partners .title {
        margin-bottom: 80px
    }
}

body {
    background-color: #202636;
    color: #adb9d9
}

.down-btns {
    display: flex;
    min-width: 420px;
    justify-content: flex-start
}

.down-btns .btn-red {
    margin-right: 30px
}

.block1 {
    margin-top: 70px
}

.block1 .left h3 {
    font-size: 27px;
    line-height: 1.85;
    color: #d3dcf4;
    margin-bottom: 45px;
}

.block1 .left .txt {
    font-size: 13px;
    line-height: 1.85;
    color: #adb9d9;
    display: flex
}

.block1 .left .txt .quotes {
    margin-right: 30px;
    max-width: 35px
}

.block1 .left .txt .quotes img {
    display: block;
    width: 100%
}

.block1 .left .txt p {
    flex: 1
}

.block1 .left .txt span {
    display: block;
    text-align: right;
    margin-bottom: 3vh
}

.footer {
    padding: 12px 0
}

.footer p {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: #4d5875
}

@media (max-width: 768px) {
    body {
        background-image:inherit
    }

    .block1 {
        margin-top: 0
    }

    .block1 .right .phone {
        width: 86%;
        margin: 16px auto 26px
    }

    .block1 .left h3 {
        font-size: 18px;
        line-height: 1.67;
        text-align: center;
        color: #d3dcf4;
        margin-bottom: 25px;
        margin-top: 10px
    }

    .block1 .left .txt {
        font-size: 13px;
        line-height: 1.85;
        color: #adb9d9;
        display: flex
    }

    .block1 .left .txt .quotes {
        margin-right: 30px;
        max-width: 35px
    }

    .block1 .left .txt .quotes img {
        display: block;
        width: 100%
    }

    .block1 .left .txt p {
        flex: 1
    }

    .block1 .left .txt span {
        display: block;
        text-align: left;
        margin-bottom: 3vh
    }

    .block1 .left .phone-down {
        margin-top: 0
    }
}
